body{
    margin: 0px;
}
ul{
  list-style: none;  
  padding: 0px;
  margin: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between; 
    padding: 10px;
}

.button{
    border: 0px;
    padding: 5px 10px; 
    border-radius: 10px; 
    font-weight: bolder;
    
}
.button:hover {
    cursor: pointer;
    transform: scale(1.1);

}
.mainButton {
    background-color: cornflowerblue;
    color: white;    
}

.mainButton:hover {
        box-shadow: 1px 1px blue;   
}
.secondaryButton {
    background-color: rgb(124, 216, 135);
    color: white; 
}
.secondaryButton:hover {
    box-shadow: 1px 1px rgb(10, 106, 45);
}